<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.UserMapper">

    <!-- 사용자 정보 조회 -->
    <select id="getUserById" resultType="com.reading_room_reservation.entity.User" parameterType="int">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <!-- 사용자 이름으로 조회 -->
    <select id="getUserByUsername" resultType="com.reading_room_reservation.entity.User" parameterType="String">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <!-- 사용자 삽입 -->
    <insert id="insertUser" parameterType="com.reading_room_reservation.entity.User">
        INSERT INTO users (username, password, email)
        VALUES (#{username}, #{password}, #{email})
    </insert>

    <!-- 사용자 정보 업데이트 -->
    <update id="updateUser" parameterType="com.reading_room_reservation.entity.User">
        UPDATE users
        SET username = #{username}, password = #{password}, email = #{email}
        WHERE id = #{id}
    </update>

    <!-- 사용자 삭제 -->
    <delete id="deleteUser" parameterType="int">
        DELETE FROM users WHERE id = #{id}
    </delete>

</mapper>
